*{
    margin: 0;
    padding:0;
}
#wrap{
    width: 400px;
    height:300px;
    margin: 100px auto;
    background-color: #999999;
    border-radius: 20px;
    box-shadow: 0 0 20px;
    overflow: hidden;
}
#display{
    text-align: right;
    line-height: 50px;
    font-weight: bold;
    font-size: 18px;
    box-sizing: border-box;
    width: 90%;
    height:50px;
    background-color: white;
    margin: 20px auto;
    border: 1px solid grey;
    border-radius: 5px;
}
#key{
    list-style: none;
    width: 95%;
    height:190px;
    margin: auto;
    /*background-color: #669900;*/
}
#key li {
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    width: 20%;
    height: 20%;
    line-height: 38px;
    float: left;
    margin: 1.3% 2.5%;
    background-color: #AEB4D6;
}